<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Camera.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BAAE6CA21BC63FC7001EE7D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAAE6CB61BC63FC7001EE7D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAAE6CC11BC63FC8001EE7D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
